<h2>Dogs list</h2>
<ul>
	<li *ngFor="let dog of dogs">
		<h3>{{ dog }}</h3>

		<app-dog [nosaukums]="dog"></app-dog>

	</li>
</ul>
<h3 *ngIf="dogs.length < 2">Who let the dogs out</h3>

<button *ngIf="moreDogs.length > 0" (click)="addDog()">
	Add dog
</button>

<!-- Comment here -->

