<h2>{{ nosaukums }}</h2>
<p>{{ nosaukums }}: apraksts</p>
<p *ngIf="isDisplayed">{{ nosaukums }} apraksts 2</p>
<span (click)="showMore()">Lasīt vairāk...</span> <br/>

<h3>Ko ēd</h3>
<ul>
	<li *ngFor="let food of foods">{{ food }}</li>
</ul>
